<!-- Blocco Admin -->
@if (isAdmin) {
<section class="content-main">
  <div class="content-header">
    <h2 class="content-title">Lista Utenti</h2>

    <button class="btn btn-success" routerLink="aggiungiutente">
      <i class="material-icons md-add"></i> Aggiungi
    </button>
  </div>

  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input
            type="text"
            placeholder="Cerca..."
            class="form-control"
            [(ngModel)]="filter"
          />
        </div>
        <button class="btn btn-primary newart" (click)="cerca()">
          <i class="material-icons md-plus"></i>
          Ricerca
        </button>
      </div>
    </header>

    <div class="card-body">
      <div class="table-responsive">
        @if (utenti$.length > 0) {
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Email</th>
              <th>Data di Nascita</th>
              <th>Ruolo</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let utente of utenti$ | paginate: { itemsPerPage: itemsForPage, currentPage: currentPage }"
            >
              <td>{{ utente.id }}</td>
              <td>{{ utente.nome }}</td>
              <td>{{ utente.cognome }}</td>
              <td>{{ utente.email }}</td>
              <td>{{ utente.dataNascita | date: 'dd-MM-yyyy' }}</td>
              <td>
                <span class="badge text-bg-secondary">{{ utente.ruolo }}</span>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-primary me-2"
                  (click)="modificaUtente(utente)"
                >
                  Modifica
                </button>

                <button
                  class="btn btn-sm btn-danger"
                  (click)="eliminaUtente(utente.id)"
                >
                  Elimina
                </button>

                <button
                  class="btn btn-sm btn-success"
                  (click)="visualizzaPrenotazioni(utente.id)"
                >
                  Lista Prenotazioni
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        } @else {
        <p>Nessun utente trovato!</p>
        }
      </div>

      <nav class="float-end mt-3" aria-label="Page navigation">
        <pagination-controls
          class="my-pagination"
          (pageChange)="currentPage = $event"
          previousLabel="Precedente"
          nextLabel="Successivo"
        >
        </pagination-controls>
      </nav>

      <div class="col-lg-2 col-6 col-md-3">
        <select class="form-select" [(ngModel)]="itemsForPage">
          <option [value]="10">Mostra 10</option>
          <option [value]="20">Mostra 20</option>
          <option [value]="30">Mostra 30</option>
        </select>
      </div>
    </div>
  </div>
</section>
}

<!-- Blocco Customer -->
@else {
<section class="content-main">
  <div class="content-header">
    <h2 class="content-title">Le tue prenotazioni</h2>
    <button class="btn btn-success" routerLink="/parcoauto">
      <i class="material-icons md-add"></i> Aggiungi Prenotazione
    </button>
  </div>

  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3 align-items-end">
        <div class="col-lg-3 col-md-4">
          <label for="dataInit">Data Inizio</label>
          <input
            id="dataInit"
            type="date"
            class="form-control"
            [(ngModel)]="dataInit"
          />
        </div>
        <div class="col-lg-3 col-md-4">
          <label for="dataFin">Data Fine</label>
          <input
            id="dataFin"
            type="date"
            class="form-control"
            [(ngModel)]="dataFin"
          />
        </div>
        <div class="col-lg-2">
          <button class="btn btn-primary mt-4 w-100" (click)="cerca()">
            <i class="material-icons md-search"></i>
            Ricerca
          </button>
        </div>
      </div>
    </header>

    <div class="card-body">
      <div class="table-responsive">
        @if (prenotazioni$.length > 0) {
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id Prentonazione</th>
              <th>Data Inizio Prenotazione</th>
              <th>Data Fine Prenotazione</th>
              <th>Stato</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let p of prenotazioni$ | paginate: { itemsPerPage: itemsForPage, currentPage: currentPage }"
            >
              <td>{{ p.idPrenotazione }}</td>
              <td>{{ p.dataInizio| date: 'dd-MM-yyyy' }}</td>
              <td>{{ p.dataFine| date: 'dd-MM-yyyy' }}</td>
              <td>{{ p.stato }}</td>
              <td>
                <button
                  class="btn btn-sm btn-primary me-2"
                  (click)="modificaPrenotazione(p)"
                  [disabled]="!p.isPrenotazioneValid"
                >
                  Modifica
                </button>

                <button
                  class="btn btn-sm btn-danger"
                  (click)="eliminaPrenotazione(p.idPrenotazione)"
                >
                  Elimina
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        } @else {
        <p>Nessuna prenotazione trovata!</p>
        }
      </div>

      <nav class="float-end mt-3" aria-label="Page navigation">
        <pagination-controls
          class="my-pagination"
          (pageChange)="currentPage = $event"
          previousLabel="Precedente"
          nextLabel="Successivo"
        ></pagination-controls>
      </nav>

      <div class="col-lg-2 col-md-3 col-6 mt-3">
        <select class="form-select" [(ngModel)]="itemsForPage">
          <option [value]="10">Mostra 10</option>
          <option [value]="20">Mostra 20</option>
          <option [value]="30">Mostra 30</option>
        </select>
      </div>
    </div>
  </div>
</section>
}
